<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Send Words!</h1>
  </div>
</header>

<div class="container">
  <a class="btn btn-default" href="/main"> Back to Home</a>
  <hr>
  <!--these words will be going into the individuals page, possibly the class words, and added to her program (words they can use) -->
  <!--<div class="container">-->
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="hasDuplicateValues()">
        <input ng-model="wordField" type="text" size="50" placeholder="add a new item to the list!">
        <input type="submit" value="Add" class="btn btn-primary">

        <!--<span class="floatRight">Items in this list: {{itemsInList()}}</span> -->
      </form>
    </li>
    <!--</ul>-->
  <!--<ul>-->
    <!--<form name="addingWordsForm" action="checkboxes.asp" method="post">-->
      <!--<span><input type = "button" name ="CheckAll" value="Check All"></span>-->
    <li class="list-group-item" ng-repeat="test in allWords"><label><input type="checkbox" value="isChecked" ng-click="allCheckedWords(test)"> {{test.words}}</label> <span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>

      <!--<li class="list-group-item" ng-repeat="test in data">{{test.weight}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>-->
    <!--</form>-->
  </ul>
  <!--</div>-->
<!--</div>-->



<!--<div class="container">-->
  <div class="row">
    <table>
      <tr>
        <th>Grade</th>
        <th>Name</th>
      </tr>
      <tr>
        <td> <div class="col-lg-12" ng-repeat="class in classList"><label><input type="checkbox" name="checkbox" value="value"></label> <li class="btn btn-default" ng-click="changeFilter(class)">{{class}}</li></div></td>
        <td> <div class="col-lg-12" ng-repeat="class in classList | filter: filterText" ng-show="true"><div class="col-lg-12" ng-repeat="person in studentList | filter: class |orderBy: 'student'" ng-show="true"><label><input type="checkbox" value="studentChecked"  ng-click="allCheckedStudents(person)"><a class="btn btn-default" ng-click="makeCurrentStudent(person)" href="/profile"> {{person.student}}</a></label></div></div>
        </td>
      </tr>
    </table>
  </div>
  <form ng-submit="wordsBeingSent()">
  <input type="submit" value="Add word(s) to student(s)">


  </form>
<!--</div>-->
</div>

<!-- make check boxes push information, be able to maybe check and uncheck all (we can do this last), put tables by each other, make names seen right away, not just groups, and move garbage cans over-->




