<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Manager</h1>
  </div>
</header>


<div class="col-xs-3" style="margin-left:175px">
  <h1 class="page-header">Groups:</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="addGroup()">
        <input ng-model="groupField" type="text" size="15" placeholder="Add a group!">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </li>
    <li class="list-group-item" type="checkbox" ng-repeat="group in localGroupArray"><label>
        <input type="checkbox" id="myCheck" value="value" ng-click="allCheckedGroups(group.groupName)"><a href="" ng-click="displayGroupInfo(group)">{{group.groupName}}</a></label>
          <span class="glyphicon glyphicon-trash floatRight close" style="color: #000000" ng-click="removeData($index)"></span>
          <span class="glyphicon glyphicon-pencil floatLeft close" style="color: #000000" ng-click=""></span>
    </li>
    <!--adapt for groups-->

    <!--<li class="list-group-item" ng-repeat="group in localGroupArray">-->
      <!--{{group}}-->

  </ul>
</div>


<div class="col-xs-3">
  <div>
    <!--adapt for students-->
    <h1 class="page-header">Students in {{selectedGroupName}}:</h1>
      <li class="list-group-item" ng-repeat="student in studentsInGroup"><label>{{student.lastName}}, {{student.firstName}}</label>
        <span class="glyphicon glyphicon-minus-sign floatRight close" style="color: #B00040" ng-click="removeStudentFromGroup('filler')"></span>
      </li>
    </ul>
    <div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <h1 class="page-header">All Students:</h1>
  <button class="btn btn-primary" title="Sort A-Z" ng-click="students.sort(orderBy('lastName'))">A-Z</button>
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="addTag()">
      </form>
    </li>
    <!--TODO Attach to database to display all the words-->
    <li class="list-group-item" type="checkbox" ng-repeat="student in students"><label><input type="checkbox" id="myCheck" value="value" ng-click="allCheckedStudents(student._id)">{{student.lastName}}, {{student.firstName}}</label></li>
  </ul>
  <input type="submit" value="Add Selected Students to Selected Groups" class="btn btn-primary" ng-click="addStudentsToGroups()">
</div>

<!--<form ng-submit="addGroup()">-->
  <!--<input ng-model="groupField" type="text" size="15" placeholder="Add a group!">-->
  <!--<input type="submit" value="Submit" class="btn btn-primary">-->
<!--</form>-->
<!--</li>-->
<!--<li class="list-group-item" type="checkbox" ng-repeat="group in localGroupArray"><label><input type="checkbox" id="myCheck" value="value" ng-click="allCheckedGroups(group)">{{group.groupName}}</label><span class="glyphicon glyphicon-trash floatRight close" style="color: #000000" ng-click="removeData($index)"></span></li>-->
<!--&lt;!&ndash;adapt for groups&ndash;&gt;-->

