<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Context Pack Dashboard</h1>
  </div>
</header>

<br/>

<div class="btn-group-lg center" role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="/makeContextPack">Create a New Context Pack</a>
</div>

<br/>

<table style="width:50%;margin-left:auto;margin-right:auto" border="1">
  <thead>
  <tr>
    <th>Context Pack Name</th>
    <th>Number of Words</th>
    <th>Suggested Grade Level</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="pack in contextPack">
    <td>{{pack.name}}</td>
    <td>{{pack.words.length}}</td>
    <td>{{pack.gradeLevel}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></td>
  </tr>
  </tbody>
</table>


<footer class="footer">
  <div class="container">
    <p>Team FTL Iteration 1 </p>
  </div>
</footer>
