<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
<!--<div class="container">-->
<!--<h1>Word River!</h1>-->
<!--<p class="lead">Changing mainstream learning</p>-->
<!--<img src="assets/images/waterSplash.png" alt="I'm Yeoman">-->
<!--</div>-->
<!--</header>-->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Word Manager!</h1>
  </div>
</header>
<div class="container-fluid">
    <div class="row">
        <!--<form class="thing-form">-->
        <!--<label>Syncs in realtime across clients</label>-->
        <!--<p class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
        <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
        <!--</span>-->
        <!--</p>-->
        <!--</form>-->

        <div class="col-xs-3" style="margin-left:175px">
            <h1 class="page-header">Categories:</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <form ng-submit="addTag()">
                        <input ng-model="textField" type="text" size="15" placeholder="Add a category!">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </li>
                <li class="list-group-item" ng-repeat="pack in contextPacks">
                  <a href="" ng-click="packInfo(pack)">{{pack.packName}}</a>
                  <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
            </ul>
        </div>
        <div class="col-xs-3">
            <div ng-show="true">
                <h1 class="page-header">Category: {{currentPack.packName}}</h1>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="tile in currentPack.tiles track by $index">
                    <li>{{tile}}<button type="button" class="close" ng-click="deleteTile(currentPack, $index)">&times;</button></li>
                </ul>
                <div ng-hide="showTileAdder">
                <a href="#" ng-click="toggleShowAdder()">Add a word...</a>
                </div>
                <div ng-show="showTileAdder">
                    <form ng-submit="addTile()" >
                        <input ng-model="tileField" type="text" size="20" placeholder="add a tile!">
                        <input type="submit" value="Add" class="btn btn-primary" ng-click="toggleShowAdder()">
                    </form>
                </div>
            </div>
        </div>
      <div class="col-xs-3">
        <h1 class="page-header">Existing words:</h1>
        <ul class="list-group">
          <li class="list-group-item">
            <form ng-submit="addTag()">
              <input ng-model="textField" type="text" size="15" placeholder="Search for a word!">
              <input type="submit" value="Search" class="btn btn-primary">
            </form>
          </li>
          <!--TODO Attach to database to display all the words-->
          <li class="list-group-item" ng-repeat="pack in contextPacks">
            <a href="" ng-click="packInfo(pack)">{{pack.packName}}</a>
            <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
        </ul>
      </div>
    </div>
</div>
<!-- TODO change function names, add tiles that don't have a tag, add tiles with multiple tags (checkboxes), send words page is to send words to students and classes- modification of packs sent to these is managed on a page yet to be created
