<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
<!--<div class="container">-->
<!--<h1>Word River!</h1>-->
<!--<p class="lead">Changing mainstream learning</p>-->
<!--<img src="assets/images/waterSplash.png" alt="I'm Yeoman">-->
<!--</div>-->
<!--</header>-->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Word Manager!</h1>
  </div>
</header>
<div class="container-fluid">
        <div class="col-xs-4" style="margin-left:180px">
            <h1 class="page-header">Categories:</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <form ng-submit="addCategory()">
                        <input ng-model="categoryField" type="text" size="15" placeholder="Add a category!">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </li>
                <li class="list-group-item" ng-repeat="category in categoryArray">
                  <a> {{category}}</a>
                  <button type="button" class="close" title="Delete Categories" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
            </ul>
        </div>
      <div class="col-xs-4">
        <h1 class="page-header">Existing words:</h1>
        <div class="container">
          <form ng-submit="addWord()">
            <input ng-model="addField" type="text" size="15" placeholder="Add a word!">
            <input type="submit" value="Add" class="btn btn-primary">
          </form>
          <br/>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <form ng-submit="searchWords()">
              <input ng-model="searchField" type="text" size="15" placeholder="Search for a word!">
              <input type="submit" value="Search" class="btn btn-primary">
            </form>
          </li>
          <!--TODO Attach to database to display all the words-->
          <li class="list-group-item" ng-repeat="pack in contextPacks">
            <a href="" ng-click="packInfo(pack)">{{pack.packName}}</a>
            <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
        </ul>
      </div>
  </div>
<!-- TODO change function names, add tiles that don't have a tag, add tiles with multiple tags (checkboxes), send words page is to send words to students and classes- modification of packs sent to these is managed on a page yet to be created
