<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Assign Words!</h1>
  </div>
</header>

<div class="container">
<br/>
  <form ng-submit="assignWords()">
  <div class="col-xs-3" >
    <h1 class="page-header">Categories:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="pack in contextPacks">
        <a href="" ng-click="packInfo(pack)">{{pack.packName}}</a>
        <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
    </ul>
  </div>
  <div class="col-xs-4" >
    <h1 class="page-header">Groups:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="pack in contextPacks"><label><input type="checkbox" name="checkbox" value="value"></label> <li class="btn btn-default" ng-click="changeFilter(class)">{{class}}</li>
        <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
    </ul>
  </div>
  <div class="col-xs-4" >
    <h1 class="page-header">Students:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="pack in contextPacks>| filter: filterText | orderBy:'student'"><label><input type="checkbox" value="studentChecked"  ng-click="allCheckedStudents(person)"><a class="btn btn-default" ng-click="makeCurrentStudent(person)"> {{person.student}}</a></label></li>
        <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="deletePack($index)">&times;</button>
    </ul>
  </div>

  <input type="submit" value="Assign Words" class="btn btn-primary">
  </form>
<!--<td> <div class="col-lg-12" ng-repeat="class in classList"><label><input type="checkbox" name="checkbox" value="value"></label> <li class="btn btn-default" ng-click="changeFilter(class)">{{class}}</li></div></td>
        <td> <div class="col-lg-12" ng-repeat="class in classList | filter: filterText" ng-show="true"><div class="col-lg-12" ng-repeat="person in studentList | filter: class |orderBy: 'student'" ng-show="true"><label><input type="checkbox" value="studentChecked"  ng-click="allCheckedStudents(person)"><a class="btn btn-default" ng-click="makeCurrentStudent(person)" href="/profile"> {{person.student}}</a></label></div></div>
        </td>
     -->
</div>




