<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Assign Words!</h1>
  </div>
</header>

<div class="container">
<br/>
  <form ng-submit="assignWords()">
  <div class="col-xs-3" >
    <h1 class="page-header">Categories:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="category in categoryArray"><label><input type="checkbox" value="value" ng-click="checkCategories(category)"></label>
        <a href="" ng-click="categoryInfo(category)">{{category}}</a>
    </ul>
  </div>
  <div class="col-xs-4" >
    <h1 class="page-header">Groups:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="group in groupArray"><label><input type="checkbox" ng-click="checkGroups(group)" value="value"></label>{{group.groupName}}
    </ul>
  </div>
  <div class="col-xs-4" >
    <h1 class="page-header">Students:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="student in studentArray"><label><input type="checkbox" value="value"  ng-click="checkStudents(student)">{{student}}</label>
    </ul>
  </div>
  <input type="submit" value="Assign Words" class="btn btn-primary">
  </form>
</div>




