<div ng-include="'components/navbar/navbar.html'"></div>
<table>
  <!--<th>Group Name</th>-->
  <!--<tr ng-repeat="student in students"><td>{{student.groupName}}</td></tr>-->

  <table id="customers">
    <tr>
      <th>Group Name</th>
      <th>Display Student List</th>
    </tr>
    <tr data-ng-repeat="group in students">
      <td data-ng-bind="group.groupName"></td>
      <td><a href="#" data-ng-click="showdetails(group)">Display</a></td>

    </tr>
  </table>
  <h2>
    <p id="studentList">

    </p>
  </h2>
</table>
