<div class="col-md-12">
  <form class="form" name="form" ng-submit="addTile(wordName, wordType)" novalidate>

    <div class="form-group">
      <label>Word</label>

      <input type="text" name="wordName" class="form-control" ng-model="wordName" required>
    </div>

    <div class="form-group">
      <label>Word Type</label>

      <input type="text" name="wordType" class="form-control" ng-model="wordType" required>
    </div>

    <div class="form-group has-error">
      {{message}}
      <p class="help-block">{{ errors.other }}</p>
    </div>

    <div>
      <button class="btn btn-inverse btn-lg btn-login" type="submit">
        Add Tile
      </button>
    </div>
  </form>
</div>
<p ng-repeat="tile in pack.contents">{{tile.wordName}}</p>
