<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Profile</h1>
  </div>
</header>
<div class="col-xs-2" style="margin-left:175px">

  <h1 class="page-header">All Students:</h1>
  <button class="btn btn-primary" title="Sort A-Z" ng-click="students.sort(orderBy('lastName'))">A-Z</button>
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="addTag()">
      </form>
    </li>
    <li class="list-group-item" type="checkbox" ng-repeat="student in students">{{student.lastName}}, {{student.firstName}}</li>
  </ul>
</div>
<div class="container">

  <div class="col-xs-5" style="margin-left:175px">
    <a class="btn btn-default" href="/main"> Back to Home</a>
    <h1 class="page-header">Student Name: {{currentStudent.student}}</h1>

    <h1 class="page-header">Context Packs:</h1>
    <table style="width:100%">
      <tr>
        to add
      </tr>
    </table>

    <h1 class="page-header">Words:</h1>
    <table style="width:100%">
      <tr>
        to add
      </tr>
    </table>

    <h1 class="page-header">Artifacts:</h1>
    <table style="width:100%">
      <tr>
        to add
      </tr>
    </table>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Team FTL Iteration 1 </p>
  </div>
</footer>
