<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Word River</h1>
    <p class="lead">Assisting in students in creative learning.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Student List?:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#"> {{thing.lastName}}, {{thing.firstName}}<button type="button" class="close" ng-click="deleteThing(thing)">&odash;</button></a></li>
      </ul>
    </div>
  </div>
  <h1 class="page-header">Student Name: {{awesomeThings[0].firstName}}, {{awesomeThings[0].lastName}}</h1>
  <h1 class="page-header">Context Packs:</h1>
  <h1 class="page-header">Words:</h1>
  <h1 class="page-header">Artifacts:</h1>
</div>

<footer class="footer">
  <div class="container">
    <p>Team FTL Iteration 1 </p>
  </div>
</footer>
