<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Add Words!</h1>
  </div>
</header>

<div class="container">
  <a class="btn btn-default" href="/main"> Back to Home</a>
  <hr>
  <!--these words will be going into the individuals page, possibly the class words, and added to her program (words they can use) -->
  <!--<div class="container">-->
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="hasDuplicateValues()">
        <input ng-model="wordField" type="text" size="50" placeholder="add a new item to the list!">
        <input type="submit" value="Add" class="btn btn-primary">
        <!--<span class="floatRight">Items in this list: {{itemsInList()}}</span> -->
      </form>
    </li>
    <li class="list-group-item" ng-repeat="test in allWords"><label><input type="checkbox" name="checkbox" value="value"></label>  {{test.words}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    <!--<li class="list-group-item" ng-repeat="test in data">{{test.weight}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>-->
  </ul>
  <!--</div>-->
<!--</div>-->



<!--<div class="container">-->
  <div class="row">
    <table>
      <tr>
        <th>Grade</th>
        <th>Name</th>
      </tr>
      <tr>
        <td> <div class="col-lg-12" ng-repeat="class in classList"><label><input type="checkbox" name="checkbox" value="value"></label> <li class="btn btn-default" ng-click="changeFilter(class)">{{class}}</li></div></td>
        <td> <div class="col-lg-12" ng-repeat="class in classList | filter: filterText" ng-show="true"><div class="col-lg-12" ng-repeat="person in studentList | filter: class |orderBy: 'student'"><label><input type="checkbox" name="checkbox" value="value"></label><a class="btn btn-default" ng-click="makeCurrentStudent(person)" href="/profile"> {{person.student}}</a></div></div>
        </td>
      </tr>
    </table>
  </div>
<!--</div>-->
</div>




